@font-face {
    font-family: tahoma;
    src: url(/assets/fonts/tahoma.ttf);
}
html, body {
    height: 100%;
    margin: 0;
    padding:0;
}
body {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: black;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a {
    color:white;
}
* {
    margin:0;
    padding:0;
}

.even {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.focus {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
}
.readme {
    background-color: #000000bb;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border: 2px solid white;
    width: auto;
}
.hidden {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    opacity: 0;
    pointer-events: none;
}
button {
    background-color: black;
    color:white;
    border: 1px solid white;
}
#button {
    padding: 1rem;
}
img {
    max-width: 512px;
    max-height: 256px;
}
iframe {
    border: 4px solid rgba(39, 154, 255, 0.8);
}
.fc {
    display:flex;
    flex-direction:column;
}
.fr {
    display:flex;
    flex-direction:row;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.windows_xp_titlebar {
    user-select: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(121, 150, 216, 0.8), rgba(39, 154, 255, 0.8));
    font-family: tahoma;
    border-radius: 4px 4px 0px 0px;
    height: 100%;
}
.windows_xp_name_icon {
    display:flex;
    align-items:center;
}

.windows_xp_name_icon > div {
    content: url(/game/icon.png);
    height: 24px;
}

.windows_xp_name_icon > span {
    text-shadow: 1px 1px 1px black;
}

.windows_xp_close_btn {
    border: 1px solid white;
    height: 24px;
    width: 24px;
    border-radius: 2px;
    margin: 4px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(238, 143, 143), rgb(152, 21, 21));
}
.windows_xp_close_btn:hover {
    background-image: linear-gradient(rgb(229, 190, 190), rgb(255, 28, 28));
}
.windows_xp_close_btn:active {
    background-image: linear-gradient(rgb(72, 30, 30), rgb(152, 21, 21));
}
::-webkit-scrollbar {
    display: none;
}
